<!DOCTYPE html> 
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/aboutus.css">
    <title>Aboutus</title>
</head>
<body>
    <div class="grow-container">
        <p  style="color:black" class="grow-text"><span>GROW</span> <br/>with US</p>
        </div>
        <img class="grow-image" src="/images/growing-up-2112531.png" alt="">
    </div>

    <!-- Slider -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slider">
                    <p> <img class="slider-icon" src="/images/CC_Symbol_Transparent.png" alt=""> Learn DSA</p>
                    <img class="slider-image" src="/images/data(1).png" alt="">
                    <a href="">start now</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider">
                    <p><img class="slider-icon" src="/images/CC_Symbol_Transparent.png" alt="">Learn C++</p>
                    <img class="slider-image" src="/images/c++.png" alt="">
                    <a href="">start now</a>
                </div>
            </div>
            <div class="carousel-item">
            <div class="slider">
                <p><img class="slider-icon" src="/images/CC_Symbol_Transparent.png" alt="">Learn JavaScript</p>
                <div><img class="slider-image" src="/images/javascript.png" alt=""></div>
                <a href="">start now</a>
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- About us -->
    <div class="about-us">

        <div class="about-head">
            <hr style="height: 2px;" class="about-head-line">
            <p class="about-head-text">About US</p>
        </div>

        <div style="margin-left: 50px; color:white" class="about-content">

            <div class="about-content-left">

                <div class="profile-card about-profile-card">
                    <img class="card-image" src="/images/ravi1.jpg" alt="">
                    <div class="card-info">
                        <h4>Ravi Kumar Chaudhary</h4>
                        <p>Founder of codercrust</p>
                        <p  style="font-size:medium; color:white">Hello Coders, I'm Ravi Kumar Chaudhary and the founder of codecrust <br>and the student of Lovely Professional University Punjab. <br>Currenlty I am software development engineer in SYSCLOUD. <br>I created this platform to learn languages and Data Structure <br>and algorithm free of cost. Our motive to the students is <br> "KEEP LEARNING AND KEEP GROWING"  
                        <br>WELCOME IN CODERCUST
                        </p>
                        <div class="card-social">
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-github fa-lg"></i></a>
							              <a href=""><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>

                <div class="profile-card about-profile-card">
                    <img class="card-image" src="/images/pb_best3.jpg" alt="">
                    <div class="card-info">
                        <h4>Nitish Yadav</h4>
                        <h6>Co-founder of codercrust</h6>
                        <p>I am Nitish Yadav and cofounder of codecrust <br> I am the student of Lovely professional University Punjab <br> and software development Engineer in Syscloud. Go through our created <br> content and explore the things and improve you coding skills. <br>
                            Thank You! </p>
                        <div class="card-social">
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-github fa-lg"></i></a>
							<a href=""><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-content-right">
                <p>CoderCrust is developed in order to help students to learn in the most student friendly enviornment with the vision to enhance their knowledge with daily practice and latest updated course content
			</div>

        </div>

        <div class="about-team">
            <p>Our Talented<br/><span>Team</span></p>

           <div class="team-members">

                <div class="profile-card">
                    <img class="card-image" src="/images/pb_best6.jpg" alt="">
                    <div class="card-info">
                        <h4>Prachi Bhardwaj</h4>
                        <h6>Frontend Developer</h6>
                        <p>I am Nitish Yadav and cofounder of codecrust <br> I am the student of Lovely professional University Punjab <br> and software development Engineer in Syscloud. Go through our created <br> content and explore the things and improve you coding skills. <br>
                            Thank You! </p>
                        <div class="card-social">
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-github fa-lg"></i></a>
							<a href=""><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
				      <br> <br>
            </div>
            <br>


            <div class="team-members">

                <div class="profile-card">
                    <img class="card-image" src="/images/4.png" alt="">
                    <div class="card-info">
                        <h4>Vimal Kushwaha</h4>
                        <h6>Frontend Developer</h6>
                        <p>small description of the person asdf asdf asdf </p>
                        <div class="card-social">
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-github fa-lg"></i></a>
							<a href=""><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
				      <br> <br>
            </div>
            
        </div>
		<!--
		<div class="about-team">
		  <p>Our Talented<br/><span>Team</span></p>
		  <div class="team-members">
		        <div class="profile-card">
                    <img class="card-image" src="./img/afzal2.png" alt="">
                    <div class="card-info">
                        <h4>Afzal Mansuri</h4>
                        <h6>Photo Designer</h6>
                        <p>small description of the person asdf asdf asdf </p>
                        <div class="card-social">
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-github fa-lg"></i></a>
							<a href=""><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
		</div>
		</div>
    
    </div>
    

    <!-- <div class="slide-section" id="slideshow">
        <div class="slider">
            <p>Learn DSA</p>
            <img src="../logo/CC_Symbol_Transparent.png" alt="">
            <button><a href="">start now</a></button>
        </div>
        <div class="slider">
            <p>Learn C++</p>
            <img src="../logo/CC_Symbol_Transparent.png" alt="">
            <button><a href="">start now</a></button>
        </div>
        <div class="slider">
            <p>Learn HTML & CSS</p>
            <img src="../logo/CC_Symbol_Transparent.png" alt="">
            <button><a href="">start now</a></button>
        </div>
    </div>
    -->
  <br><br>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#slideshow > div:gt(0)").hide();

            setInterval(function () {
                $('#slideshow > div:first')
                    .fadeOut(1000)
                    .next()
                    .fadeIn(1000)
                    .end()
                    .appendTo('#slideshow');
            }, 3000);
    </script>
    <script type="text/javascript" src="../js/mobile.js"></script>
    <script src="../TodoList/js/main.js"></script>
  <script src="../javaScript/script.js"></script>
</body>

</html>