<!DOCTYPE html>
<html lang="en">
<head>
  <title>CoderCrust</title>
</head>
<body>
{{>navbar}}
{{!-- Hero section start --}}
<div class="container-fluid mt-6">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center algin-item-start flex-column">
          <h1>THE TEAM CODERCRUST</h1>
          <h1>WILL HELP YOU TO BECOME A PROFESSIONAL CODER</h1>
          <p>We are the Team of <span class="bold-style">Professional CODER</span></p> 
        </div>
        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
          <figure>
            <img class="heroimage" src="/images/img2.png" alt="herosection">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
{{>footer}}
<script src="../javaScript/script.js"></script>
</body>
</html>