<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="css/login-signup.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
	<img class="wave" src="images/wave2.png">
	<div class="container">
		<div class="img">
			<img src="images/avtar2.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img class="avatar "src="images/avatar.svg">
				<h3 class="title">Welcome Back</h3>

				<div class="input-field">
					<i class="fas fa-user"></i>
					<input type="text" placeholder="Username" required name="firstname" autocomplete="off">
				  </div>

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required name="password"  autocomplete="off"> 
            {{!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  --}}
          </div>

          <input type="submit" id="submit" class="btn-style"  value="Login">
				  <div class="option">
					<a href="#">Forgot Password</a>
					<p>Already have account? <a href="./signUp">Signup</a></p>
				  </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>