<footer class="footer">
    <div class="footer-container">
        <div class="frow">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                 <li><a href="/aboutus">AboutUs</a></li> 
                  <li><a href="/contact">Contact us</a></li>
                    <li><a href="#serviceid">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Topics</h4>
                <ul>
                    <li><a href="#">Array</a></li>
                    <li><a href="#">Tree</a></li>
                    <li><a href="#">Linked List</a></li>
                    <li><a href="#">Stack</a></li>
                    <li><a href="#">Queue</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Learn</h4>
                <ul>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Data Structure</a></li>
          <li><a href="#">Advance Data Structure</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
