<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/frontpage.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <div class="logo">
            <a class="active" href="/index"><img src="../images/newlogo.png" alt=""></a>
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <div class="logo">
                <a class="active" href="/index"><img src="../images/newlogo.png" alt=""></a>
            </div>
            <ul>
                <li>
                    <a class="active" href="/index">Home</a>
                </li>
                <li>
                    <a href="#serviceid">Tutorials</a>
                </li>
                <li>
                    <a href="#tempfile">PracticeQuestions</a>
                </li> 
                <li>
                    <a href="#tempfile">Diamond</a>
                </li> 
                
                <li>                        
                <a href="/signup"><span><i class="fa fa-user-plus"></i></span> Sign Up</a>
                </li> 

                <li>                        
                    <a href="/login"><span><i class="fa fa-user-plus"></i></span> Sign In</a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </header>
</body>
</html>
